/* .home-header {
  position: absolute;
  width: 100%;
  height: 500px;
  background-image: url(../../media/home-page/2.1.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  opacity: 0.85;
  z-index: -1;
  top: 0;
} */

.logo-wrapper {
  text-align: center;
  padding: 15px 0;
}

.slogan-wrapper {
  width: 100%;
  text-align: center;
}

.border {
  width: 15%;
  margin: 0 auto;
  border-bottom: 1px solid;
  height: 1px;
}

.scroll {
  height: 1000px;;
}