body {
  font-family: 'Titillium Web', sans-serif;
  padding: 0 50px;
  color: #09402c;
  /* font-family: 'Ubuntu', sans-serif;
  font-family: 'Work Sans', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-family: 'Varela Round', sans-serif; */
}

#root {
  /* background-color: #ebebe8; */
  background-color: #E1F5FE;
}

/* #root::after {
  content: '';
  height: 50px;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
} */

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}